<nav class="navbar navbar-light navbar-static bg-faded burgerMenu">
	<div class="container-fluid">     
		<div class="navbar-header col-xs-12">
			<button type="button" class="navbar-toggle collapsed pull-left burgerIcon"  id="navbarSideButton" (click)="mostrarMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand pull-right" [routerLink]="['/habitos']"><img class="logoTechFit" src="assets/img/logotechfit-1.png" alt="logo"></a>
		</div>
		<ul [class]="claseMenu" id="navbarSide">
			<li class="navbar-side-item">
				<a class="side-link"><span class="glyphicon glyphicon-remove" id="btnOcultar" (click)="ocultarMenu()"></span></a>
			</li>
			<li class="navbar-side-item" >
				<a class="side-link" [routerLink]="['/habitos']">
					<span class="glyphicon glyphicon-list-alt"></span>
					<span> Lista de Habitos</span>
				</a>
			</li>
			<li class="navbar-side-item">
				<a class="side-link" [routerLink]="['/crearHabito']">
					<span class="glyphicon glyphicon-plus"></span>
					<span> Nuevo Habito</span>
				</a>
			</li>
			<li class="navbar-side-item">
				<a class="side-link">
					<span class="glyphicon glyphicon-user"></span>
					<span> Perfil</span>
				</a>
			</li>
			<li class="navbar-side-item">
				<a class="side-link">
					<span class="glyphicon glyphicon-share"></span>
					<span> Compartir</span>
				</a>
			</li>
			<li class="navbar-side-item">
				<a class="side-link" [routerLink]="['/logout']">
					<span class="glyphicon glyphicon-log-out"></span>
					<span> LogOut</span>
				</a>
			</li>
		</ul>
	</div>		
</nav> 