@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
/* 

icofont */

img{
    max-width: 100%;
    padding: 0px;

   }

*{
	margin:0;
	padding: 0;	
}
body{
	font-family: 'Roboto', sans-serif;
	color:#FFFFFF;
	background: #C0CA33;
}
body{
	max-width: 960px;
}
header{
	width:150px;
	padding: 15px;
	text-align: left;
	margin-left: 30px;
}

header h1{
	font-size: 20px;
	padding:5px;
	text-align: center;
	font-family: 'Rock Salt', cursive;
	color: #e6e600;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.22);
}
header h2{
	font-size: 16px;
	padding:3px;
}
section{
	padding: 20px;
	margin top: 0px;


}
section a{
	font-size: 12px;
	color:#C0CA33;
}
section a:hover{
	color:#C0CA33;
}
label{
	font-size: 12px;
	font-weight: 300px;
	color: #C0CA33;
	
}
#imagre{
	width: 71px;
	height: 92px;
	margin-left: 42px;
}

input{
	margin: 10px 0px;
	padding: 5px;
	width: 200px;
	border: none;
	border-radius: 2px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);
	
}

input:placeholder{
	color:#C0CA33;
}

.errorInput{
	-webkit-box-shadow: 0px 1px 1px 0px rgba(204,0,0,0.9);
    -moz-box-shadow: 0px 1px 1px 0px rgba(204,0,0,0.9);
    box-shadow: 0px 1px 1px 0px rgba(204,0,0,0.9);
}

.errorP{
	font-size: 10px;
	font-weight: 300;
	color: #e60000;
	padding-bottom: 5px;
}
.box1{
	width: 250px;
	padding:10px 15px;
	margin:30px auto;
	height: 500px;
	border-radius: 4px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);	
}
.btnLogin{
	width: 60px;
	border: none;
	color:#fff;
    background: #C0CA33;
    background: -webkit-linear-gradient(#C0CA33);
    background: -o-linear-gradient(#C0CA33);
    background: -moz-linear-gradient(#C0CA33);
    background: linear-gradient(#C0CA33);
    padding: 5px 0;
    margin: 20px 0 20px 0;
    font-size: 14px;
    border-radius: 2px;

}

.btnLoginp{
	width: 200px;
	border: none;
	color:#fff;
    background: #C0CA33;
    background: -webkit-linear-gradient(#C0CA33);
    background: -o-linear-gradient(#C0CA33);
    background: -moz-linear-gradient(#C0CA33);
    background: linear-gradient(#C0CA33);
    margin:10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;

	}

.btnLoginreg{
	width: 150px;
	border: none;
	color:#fff;
    background: #C0CA33;
    background: -webkit-linear-gradient(#C0CA33);
    background: -o-linear-gradient(#C0CA33);
    background: -moz-linear-gradient(#C0CA33);
    background: linear-gradient(#C0CA33);
    margin:10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
    margin-left: 25px;
	

}	


.btnLogin:hover{
	color:#3aa5dd;
}

.btnLoginp:hover{
	color:#3aa5dd;
}

article p{
	text-align: center;
	padding: : 20px;
}

/*mensajes de error*/
.mensajes_error div{display: none;}
.mensajes_error div.show{display: block;}

.mensajes_error_fPass div{display: none;}
.mensajes_error_fPass div.show{display: block;}

